<div class="flex flex-col flex-auto">
  <scenarii-title>Load a file</scenarii-title>

  <main class="p-3 flex-auto">
    <scenarii-status (isRunning)="isRunning = $event"></scenarii-status>

    <ng-container *ngIf="!isRunning; else reset">
      <ng-container *ngIf="!currentFile; else csvConfigurator">
        <div class="md:grid md:grid-cols-2 md:gap-6">
          <scenarii-csv-uploader
            (csvUploaded)="currentFile = $event"
          ></scenarii-csv-uploader>
          <scenarii-file-history></scenarii-file-history>
        </div>
      </ng-container>

      <ng-template #csvConfigurator>
        <scenarii-csv-configurator
          [csvContent]="currentFile"
          (cleared)="onClear()"
          (configurationUpdated)="onConfigurationUpdated($event)"
          (scenarios)="onScenarios($event)"
        ></scenarii-csv-configurator>
      </ng-template>
    </ng-container>

    <ng-template #reset>
      <scenarii-reset></scenarii-reset>
    </ng-template>
  </main>
</div>
