<div
  class="mb-3 bg-blue-50 border-0 border-gray-800 p-3 rounded-md shadow-sm text-gray-800"
>
  <ng-container *ngIf="isRunning | async; else noFile">
    A file is currently loaded and used. You can
    <a
      routerLink="/run"
      class="cursor-pointer text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500"
      >run the scenarios</a
    >,
    <a
      routerLink="/scenarios"
      class="cursor-pointer text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500"
      >list all the scenarios</a
    >
    or reset the progression using the button below.
  </ng-container>

  <ng-template #noFile> To start a test, you need to load a file. </ng-template>
</div>
