<div class="shadow sm:rounded-md sm:overflow-hidden">
  <div class="px-4 py-5 bg-white sm:p-6 space-y-6">
    <div>
      <h3 class="text-lg font-medium leading-6 text-gray-900">
        Reset the scenarios and reports.
      </h3>
      <p class="text-sm text-gray-500 mt-1 italic">
        You will be be able to upload an other file, but you will lose all the
        current scenarios and reports.
      </p>
    </div>
  </div>

  <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
    <button
      type="button"
      class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
      (click)="onReset()"
    >
      <fa-icon [icon]="faTrash" class="mr-2"></fa-icon> Reset
    </button>
  </div>
</div>
