<section
  *ngIf="scenario"
  class="shadow-sm m-3 p-3 rounded bg-white flex flex-row"
  [class.bg-red-100]="scenario.report.valid === false"
  [class.bg-green-100]="scenario.report.valid === true"
>
  <div
    [ngSwitch]="status"
    class="m-3 inline-block flex justify-center items-center aspect-square"
    style="height: 30px"
  >
    <fa-icon
      *ngSwitchCase="'success'"
      [icon]="faCheck"
      class="text-green-800"
      title="Success"
    ></fa-icon>
    <fa-icon
      *ngSwitchCase="'error'"
      [icon]="faTimes"
      class="text-red-800"
      title="Error"
    ></fa-icon>
    <fa-icon
      *ngSwitchDefault
      [icon]="faQuestion"
      class="text-gray-400"
      title="Unknown"
    ></fa-icon>
  </div>
  <div>
    <span class="text-sm text-gray-400 italic">
      <ng-container *ngIf="scenario.scenario.category"
        ><span>{{ scenario.scenario.category }}</span> ></ng-container
      >
      <ng-container *ngIf="scenario.scenario.subcategory"
        ><span>{{ scenario.scenario.subcategory }}</span> ></ng-container
      >
      <span>{{ scenario.scenario.id }}</span>
    </span>
    <h2 class="ml-2">
      {{ scenario.scenario.message }}
    </h2>
  </div>
</section>
